.grille{
	width: 1180px;
	height: 581px;
	margin:auto;
	background: url('../img/admin/grille.png') no-repeat;
	position: relative;
}

.positionnement_grille{
	position: absolute;
}

.point{
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 10px;
	padding-top: 5px;
}

.point_principal{
	position: absolute;
	width: 20px;
	height: 29px;
	background: url('../img/admin/placeholder_principal.png') no-repeat;
	cursor: pointer;
	opacity: .8
}

.point_additionnel{
	position: absolute;
	width: 20px;
	height: 29px;
	background: url('../img/admin/placeholder_secondaire.png') no-repeat;
	cursor: pointer;
	opacity: .8
}


legend{
	font-weight: bold;
	color: #00205b
}

.point_actif{
	background: url('../img/admin/placeholder_actif.png') no-repeat;
}

.titre_profil{
	font-size: 20px
}

.listeprofil{
	border: 1px gray solid;
	padding:10px;
}

.listeprofil b{
	color: red;
	vertical-align: top;
}

/* rendu reponses */
.container{
	/*width: 800px;*/
	margin:auto;
}

.libelle, .slider{
	width: 100%;
	height: 15px;
	margin-bottom: 10px
}


.libelle, .slider{
	width: 100%;
	height: 15px;
	position: relative;
}

.cas1{
	position: absolute;
	left:0;
}

.cas2{
	position: absolute;
	right:0;
}

.ui-slider-handle {
	width: 3em !important;
	height: 1.6em!important;
	top: 50%!important;
	margin-top: -.8em!important;
	text-align: center!important;
	line-height: 1.6em!important;
}

.ui-state-active{
	border-color: white !important;
	background: #00205b !important;
}

.slider{
	background: #00205b
}

.ui-corner-all{
	border-radius: inherit !important;
}

.inputformulaire{
	visibility: hidden;
}

.question{
	width: 44%;
	float: left;
	margin: 0 4% 0 2% 
}

legend{
	font-weight: bold;
	color: #00205b;
}

.titre_profil_additionnel{
	font-size: 25px;
	color: #00205b;
	font-weight: bold;
}