.container{
	width: 1180px;
	margin:auto;
}

.libelle, .slider{
	width: 100%;
	height: 15px;
	margin-bottom: 10px
}


.libelle, .slider{
	width: 100%;
	height: 15px;
	position: relative;
}

.cas1{
	position: absolute;
	left:0;
}

.cas2{
	position: absolute;
	right:0;
}

.ui-slider-handle {
	width: 3em !important;
	height: 1.6em!important;
	top: 50%!important;
	margin-top: -.8em!important;
	text-align: center!important;
	line-height: 1.6em!important;
}

.ui-state-active{
	border-color: white !important;
	background: #00205b !important;
}

.slider{
	background: #00205b
}

.ui-corner-all{
	border-radius: inherit !important;
}

.inputformulaire{
	visibility: hidden;
}

.question{
	width: 44%;
	float: left;
	margin: 0 4% 0 2% 
}

legend{
	font-weight: bold;
	color: #00205b
}

.titre_profil_additionnel{
	font-size: 25px;
	color: #00205b;
	font-weight: bold;
}

.slider .ui-state-default{
	background: red 
}

.dejafait{
	background: #f6f6f6 !important
}