@CHARSET "UTF-8";
/* RESET ======================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form,
label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align:text-top;
	padding:0;
	text-shadow : none !important;
	border-spacing : 0;
	border-collapse : collapse;
}


html {height: 100%;	font-family: "latoregular";font-size: 13px; }
form {margin: 0; padding: 0;}
body {
	margin: 0;
	height:100%; /* -header 90px -footer 25px*/
	padding:0px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}


/* POUR MES FONCTIONS GLOBALES NE PAS ENLEVER */
pre {z-index:1000;position:relative;background-color: #eccef4;display: block;font-size: 13px;line-height: 20px;margin: 0 0 10px;padding: 9.5px;white-space: pre-wrap;word-break: break-all;word-wrap: break-word;color:black;}
a {text-decoration: none; vertical-align: initial}
a:link, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
.clearfix{clear:both}
.textcenter{text-align:center}
.textleft{text-align:left}
.textright{text-align:right}
.floatnone{float:none}
.floatleft{float:left}
.floatright{float:right}
.cache{display: none;}
.gras{font-weight: bold}
/* +++++++++++++++++++++++++++++++++++++ */